.error {
  background: var(--gray-light);
  border-radius: 0.5rem;
  color: var(--ruby);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
